<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles/main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <title>Ябко-інтернет магазин едектроніки</title>
</head>
<body>
    <header>
        <div class="logo"><img src="./img/logow.png" width="94" height="34" alt="">
        </div>
        <div class="nav">iPhone</div>
        <div class="nav">iPad</div>
        <div class="nav">Mac</div>
        <div class="nav">AppleWatch</div>
        <div class="nav">AirPods</div>
        <div class="nav">Гаджети</div>
        <div class="nav">Аксесуари</div>
        <div class="nav">Apple б/у</div>
        <div class="serch"><input type="search"></div>
        <div class="cart">Кошик</div>
    </header>
    <main>
        <div class="cont">
            <div class="item">
                <div class="imgcont">
                    <img src="./img/11wht.webp" alt="" class="mini">
                </div>
                <div class="descr">
                    <div class="model">б/у iPhone 12 Pro Max 256GB (Graphite) (Відмінний стан)
                    </div>
                    <div class="price">
                        <div class="pricebefore">17000</div>
                        <div class="discounted">15000</div>
                    </div>
                </div>
            </div>
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
    
        </div>

    </main>

    <script src="./script/main.js"></script>
</body>
</html>